@model QuanLiCuaHang.Areas.Manager.Data.PHIEUDV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEUDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienTraTruoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienTraTruoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienConLai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGPDV.TenTinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGPDV.TenTinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
