@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.PHIEUDV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienTraTruoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienConLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINHTRANGPDV.TenTinhTrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienTraTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienConLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINHTRANGPDV.TenTinhTrang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPDV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPDV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPDV })
        </td>
    </tr>
}

</table>
