@model QuanLiCuaHang.Areas.Manager.Data.BCTONKHO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BCTONKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tondau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tondau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TonCuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonCuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLMuaVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLMuaVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLBanRa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBanRa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSanPham)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
