@model QuanLiCuaHang.Areas.Manager.Data.BCTONKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BCTONKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tondau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tondau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TonCuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonCuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLMuaVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLMuaVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLBanRa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBanRa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
