@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.BCTONKHO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tondau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TonCuoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLMuaVao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLBanRa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tondau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TonCuoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLMuaVao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLBanRa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
