@model QuanLiCuaHang.Areas.Manager.Data.CHITIET_PHIEUDV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIET_PHIEUDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonGiaDuocTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaDuocTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToanTraTruoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToanTraTruoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToanConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToanConLai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIDV.TenLoaiDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIDV.TenLoaiDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHIEUDV.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUDV.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGDV.TenTinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGDV.TenTinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
