@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.CHITIET_PHIEUDV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaDuocTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhToanTraTruoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhToanConLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIDV.TenLoaiDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUDV.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINHTRANGDV.TenTinhTrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaDuocTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhToanTraTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhToanConLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIDV.TenLoaiDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUDV.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINHTRANGDV.TenTinhTrang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
